log
data/processed/charades-sta/concepts/
data/processed/didemo/concepts/ 
data/interim/didemo/*
data/interim/charades-sta/*
data/interim/activitynet-captions/*
data/raw/*.txt
data/raw/*.json
data/raw/*.h5
data/raw/language/
sbatches
scripts/data
notebooks/.ipynb_checkpoints
.ipynb_checkpoints
notebooks/__pycache__/
__pycache__/


