# Intermediate data during feature extraction
frame_extraction
resnet_extraction
resnet152

# NOUNs and comparison with other datasets
# TODO: wildcard and only explicit name for relevant
nouns_count.csv
nouns_didemo_vs_yfcc100m.csv
nouns_to_video.json
nouns_yfcc100m.csv
# vega-lite plot didemo vs yfcc100m tag frequency
bar.vl.json