# Metadata
videos_info.csv
videos.txt
videos.csv

# Features
vocab_glove_complete.txt
glove.6B.300d.txt
average_fc7.h5
average_global_flow.h5

# Annotations
test_data.json
train_data.json
val_data.json
